<!DOCTYPE html>
<html>
<head>
  <title>ReceptionItApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en"><![endif]-->
	<meta charset="utf-8">
	<title>ReceptionIt Venue Concierge</title>
	<meta name="robots" content="index, nofollow">
	<meta name="description" content="Your website description here">
	<meta name="keywords" content="your, website, keywords, here">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<link rel="shortcut icon" href="favicon/favicon.ico">

</head>

<body class="body-push business auto-close-menu">
		<!-- Menu -->
	<nav class="menu" id="theMenu">

		<div class="menu-wrap">
			<a href="#home"><%= image_tag('ReceptionIt_header-mini.png', :class => "logo") %></a>
			<i class="icon-remove menu-close"></i>
			<a href="#home">Home</a>
			<a href="#learnmore">Learn More</a>
			<a href="#process">How It Works</a>
			<a href="#getstarted">Get Started</a>
			<a href="#contact">Contact</a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-envelope"></i></a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>

	</nav>

<%= yield %>

</body>

</html>
